<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>

	</head>
	<body>
		<!--v-else 元素必须立即跟在 v-if 或 v-show 元素的后面——否则它不能被识别。-->
		<h1 v-if="true">Yes</h1>
		<h1 v-else>No</h1>
		<!-- v-show不支持template语法 -->
		<template v-if="showTemp">
			<h1>Title</h1>
		    <p>Paragraph 1</p>
		    <p>Paragraph 2</p>
		</template>
		<template v-else>
			<h1>v-else</h1>
		</template>
	</body>
	<script src="../js/vue.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">
		const vm = new Vue({
			el:"body",
			data:{
				showTemp:true
			}
		})
	</script>
</html>
