<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <div id="app">

    <input type="" name="" value="" v-model="radio" @blur="check()">
    <span v-if="show">{{word}}</span>
    <br/>
    <button @click="exchange()">Switch</button>
  </div>
  <script src="../../js/vue.js"></script>
  <script>
    var VM = new Vue({
      el: '#app',
      data: {
        radio: '',
        show: false,
        word: '哈哈哈！'
      },
      methods: {
        check: function() {
          if (this.radio == '123') {
            this.show = true;
          } else {
            this.show = false;
          }
        },
        exchange() {
          if (!!this.show) {

            this.word = 'kkkkk';
          }
        }
      }
    })
  </script>
</body>

</html>