<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <h1>
      <a href="http://blog.codinglabs.org/articles/modularized-javascript-with-seajs.html">SeaJs模块化解析</a>
    </h1>
    <div id="content">
        <p class="author"></p>
        <p class="github"><a href="#">Github</a></p>
    </div>

</body>
<script src="../../bower_components/seajs/dist/sea-debug.js"></script>
<!-- css模块化要注入seajs-css依赖 -->
<script src="../../bower_components/seajs-css/dist/seajs-css-debug.js" charset="utf-8"></script>
<script src="./config-seajs.js">
</script>
<script type="text/javascript">
    var lib = ['jquery', './init']
    seajs.use(lib, function(main) {

    });
</script>

</html>
