*{padding: 0;margin: 0;}
html{
	font-size: 14px;
}
.header{
	width:100%;
	height: 4rem;
	background-color: #0087dc;
	display: flex;
}
.icon{
	width:30%;
	height: 100%;
	background-color: #acacac;
	border:1px solid #fafafa;
}
.font{
	width:40%;
	height: 100%;
	background-color: red;
	border:1px solid #fafafa;
}
.list{
	width:30%;
	height: 100%;
	background-color: green;
	border:1px solid #fafafa;
}