<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <input type="text" v-model='a'>{{b}}
        <input type="button" value="修改b的值" @click='updateData'>
        <input type="text" v-model='c'>
    </div>
</body>
<script src="../../js/vue.js"></script>
<script>
    var VM = new Vue({
        el: '#app',
        methods: {
            updateData: function() {
                this.b = this.b; //给 b 重新赋值时就会调用  b 的  set  属性,从而改变 c 的值
            }
        },
        data() {
            return {
                a: '1:30',
                c: ''
            }
        },
        computed: {
            b: {
                get: function() { //通过a的值改变b的值
                    var time = this.a;
                    time = time ? time.split(':') : '';
                    let hours = time[0];
                    let minutes = time[time.length - 1];
                    return parseInt(hours) * 60 + parseInt(minutes);
                },
                set: function(newValue) { //通过b值的改变,设置 c  的值
                    let newTimes = newValue;
                    console.log(newValue);
                    let hoursTime = parseInt(newTimes) / 60;
                    let minutesTime = parseInt(newTimes) % 60;
                    newTimes = newTimes + '';
                    hoursTime = hoursTime + '';
                    hoursTime = hoursTime ? hoursTime.split('.') : '';
                    this.c = hoursTime[0] + ':' + minutesTime;
                    console.log(hoursTime[0] + ':' + minutesTime);
                }
            }
        }
    })
</script>

</html>