<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <Home v-bind:list='list'></Home>
        <About></About>
    </div>
</body>
<script src="../../js/vue.js" charset="utf-8"></script>
<script type="text/javascript">
    const Home = {
        template: `<h1>Home {{list}}</h1>`,
        props: ['list']
    };
    const About = {
        template: '<h1>About</h1>'
    }

    const VM = new Vue({
        el: '#app',
        data: {
            list: 'list'
        },
        components: {
            Home,
            About,
        }
    })
</script>

</html>